// Main
//------------------------------------------------------------
//


.main {
    text-align: center;
    background: $dark-color;

    .headline,
    .title {
        color: $yellow-color;
        font: $base-font-size $header-heading-font;
        @include transform(rotate(-10deg));
        text-shadow: 0 2px 1px rgba(#000, .4);

        @include screen($medium) {
            text-shadow: 0 3px 1px rgba(#000, .5);
        }
    }

    .headline {
        margin: rem-calc(60 0 0);
        font-size: rem-calc(26);

        @include screen($medium) {
            font-size: rem-calc(46);
        }

        @include screen($large) {
            font-size: rem-calc(56);
        }

        & span {
            top: rem-calc(20);
            position: relative;

            @include screen($medium) {
                top: rem-calc(32);
            }
        }
    }

    .title {
        position: relative;
        font-size: rem-calc(15);

        @include screen($medium) {
            font-size: rem-calc(17);
        }

        @include screen($large) {
            top: rem-calc(-35);
            left: rem-calc(50);
            font-size: rem-calc(21);
        }
    }

    .text {
        font-size: rem-calc(13);
        @extend %v-align;

        @include screen($medium) {
            font-size: rem-calc(16);
        }
    }
}

