@font-face {
    font-family: "Roboto Cond";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Cond Light"), local("RobotoCond-Light"), url("/assets/fonts/RobotoCond-Light.woff2") format("woff2"), url("/assets/fonts/RobotoCond-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto Cond";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Cond Regular"), local("RobotoCond-Regular"), url("/assets/fonts/RobotoCond-Regular.woff2") format("woff2"), url("/assets/fonts/RobotoCond-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto Cond";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Cond Bold"), local("RobotoCond-Bold"), url("/assets/fonts/RobotoCond-Bold.woff2") format("woff2"), url("/assets/fonts/RobotoCond-Bold.woff") format("woff");
}