.u-screen-readers {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.u-space-between {
    justify-content: space-between;
}

.u-flex-start {
    justify-content: flex-start;
}

.u-flex-center {
    justify-content: center;
}

.u-flex-end {
    justify-content: flex-end;
}

.u-align-items-start {
    align-items: flex-start;
}

.u-align-items-center {
    align-items: center;
}

.u-align-items-end {
    align-items: flex-end;
}

.u-flex-column {
    flex-direction: column;
}

.u-flex-row {
    flex-direction: row;
}

.u-flex-row-from-phablet {
    @media (--phablet) {
        flex-direction: row;
    }
}

.u-flex-row-from-medium {
    @media (--medium) {
        flex-direction: row;
    }
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-flex-no-wrap {
    flex-wrap: nowrap;
}

.u-clear {
    clear: both;
}

.u-no-wrap {
    white-space: nowrap;
}

.u-no-margin {
    margin: 0;
}

.u-no-margin-t {
    margin-top: 0;
}

.u-no-margin-b {
    margin-bottom: 0;
}

.u-margin {
    margin: var(--gutter);
}

.u-margin-t {
    margin-top: var(--gutter);
}

.u-margin-b {
    margin-bottom: var(--gutter);
}

.u-margin-t-b {
    margin: var(--gutter) 0;
}

.u-margin-small {
    margin: var(--gutter-small);
}

.u-margin-small-t {
    margin-top: var(--gutter-small);
}

.u-margin-small-b {
    margin-bottom: var(--gutter-small);
}

.u-margin-small-t-b {
    margin: var(--gutter-small) 0;
}

.u-margin-medium {
    margin: var(--gutter-medium);
}

.u-margin-medium-t {
    margin-top: var(--gutter-medium);
}

.u-margin-medium-b {
    margin-bottom: var(--gutter-medium);
}

.u-margin-medium-t-b {
    margin: var(--gutter-medium) 0;
}

.u-margin-large {
    margin: var(--gutter-large);
}

.u-margin-large-t {
    margin-top: var(--gutter-large);
}

.u-margin-large-b {
    margin-bottom: var(--gutter-large);
}

.u-margin-large-t-b {
    margin: var(--gutter-large) 0;
}

.u-no-padding {
    padding: 0;
}

.u-no-padding-t {
    padding-top: 0;
}

.u-no-padding-b {
    padding-bottom: 0;
}

.u-padding {
    padding: var(--gutter);
}

.u-padding-t {
    padding-top: var(--gutter);
}

.u-padding-b {
    padding-bottom: var(--gutter);
}

.u-padding-t-b {
    padding: var(--gutter) 0;
}

.u-padding-small {
    padding: var(--gutter-small);
}

.u-padding-small-t {
    padding-top: var(--gutter-small);
}

.u-padding-small-b {
    padding-bottom: var(--gutter-small);
}

.u-padding-small-t-b {
    padding: var(--gutter-small) 0;
}

.u-padding-medium {
    padding: var(--gutter-medium);
}

.u-padding-medium-t {
    padding-top: var(--gutter-medium);
}

.u-padding-medium-b {
    padding-bottom: var(--gutter-medium);
}

.u-padding-medium-t-b {
    padding: var(--gutter-medium) 0;
}

.u-padding-large {
    padding: var(--gutter-large);
}

.u-padding-large-t {
    padding-top: var(--gutter-large);
}

.u-padding-large-b {
    padding-bottom: var(--gutter-large);
}

.u-padding-large-t-b {
    padding: var(--gutter-large) 0;
}

.u-float-l {
    float: left;
}

.u-float-r {
    float: right;
}

.u-align-l {
    text-align: left;
}

.u-align-c {
    text-align: center;
}

.u-align-r {
    text-align: right;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-border-t {
    border-top: var(--border);
}

.u-border-b {
    border-bottom: var(--border);
}

.u-radius {
    border-radius: var(--radius);
}

.u-radius-large {
    border-radius: var(--radius-large);
}

.u-light-font {
    font-weight: var(--light-font);
}

.u-regular-font {
    font-weight: var(--regular-font);
}

.u-bold-font {
    font-weight: var(--bold-font);
}

.u-base-font-size {
    font-size: var(--body-font-size);
}

.u-medium-font-size {
    font-size: var(--body-font-medium);
}

.u-underline {
    text-decoration: underline;
}

.u-z-negative {
    z-index: var(--z-negative);
}

/**
* (Breakpoint dependant) display classes
*/

.u-hidden {
    display: none;
}

.u-flex {
    display: flex;
}

.u-block {
    display: block;
}

@media (--phablet) {
    .u-hidden-phablet {
        display: none;
    }

    .u-block-phablet {
        display: block;
    }

    .u-flex-phablet {
        display: flex;
    }
}

@media (--medium) {
    .u-hidden-medium {
        display: none;
    }

    .u-block-medium {
        display: block;
    }

    .u-flex-medium {
        display: flex;
    }
}

@media (--large) {
    .u-inline-large {
        display: inline;
    }

    .u-block-large {
        display: block;
    }

    .u-flex-large {
        display: flex;
    }
}

@media (--desktop) {
    .u-hidden-desktop {
        display: none;
    }

    .u-block-desktop {
        display: block;
    }

    .u-flex-desktop {
        display: flex;
    }
}

.u-wide {
    width: 100%;
}

.u-ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
* Classes for grid purposes
*/
.u-full {
    width: 100%;
    flex: none;
}

.u-1of2 {
    width: 50%;
    flex: none;
}

.u-1of3 {
    width: 33.3333%;
    flex: none;
}

.u-2of3 {
    width: 66.6667%;
    flex: none;
}

.u-1of4 {
    width: 25%;
    flex: none;
}

.u-3of4 {
    width: 75%;
    flex: none;
}

.u-5of12 {
    width: 41.6666667%;
    flex: none;
}

@media (--phablet) {
    .u-small-full {
        width: 100%;
        flex: none;
    }

    .u-small-1of2 {
        width: 50%;
        flex: none;
    }

    .u-small-1of3 {
        width: 33.3333%;
        flex: none;
    }

    .u-small-2of3 {
        width: 66.6667%;
        flex: none;
    }

    .u-small-1of4 {
        width: 25%;
        flex: none;
    }

    .u-small-3of4 {
        width: 75%;
        flex: none;
    }

    .u-small-5of12 {
        width: 41.6666667%;
        flex: none;
    }
}

@media (--medium) {
    .u-med-full {
        width: 100%;
        flex: none;
    }

    .u-med-1of2 {
        width: 50%;
        flex: none;
    }

    .u-med-1of3 {
        width: 33.3333%;
        flex: none;
    }

    .u-med-2of3 {
        width: 66.6667%;
        flex: none;
    }

    .u-med-1of4 {
        width: 25%;
        flex: none;
    }

    .u-med-3of4 {
        width: 75%;
        flex: none;
    }

    .u-med-5of12 {
        width: 41.6666667%;
        flex: none;
    }
}

@media (--tablet) {
    .u-tablet-full {
        width: 100%;
        flex: none;
    }

    .u-tablet-1of2 {
        width: 50%;
        flex: none;
    }

    .u-tablet-1of3 {
        width: 33.3333%;
        flex: none;
    }

    .u-tablet-2of3 {
        width: 66.6667%;
        flex: none;
    }

    .u-tablet-1of4 {
        width: 25%;
        flex: none;
    }

    .u-tablet-3of4 {
        width: 75%;
        flex: none;
    }

    .u-tablet-5of12 {
        width: 41.6666667%;
        flex: none;
    }
}

@media (--large) {
    .u-large-full {
        width: 100%;
        flex: none;
    }

    .u-large-1of2 {
        width: 50%;
        flex: none;
    }

    .u-large-1of3 {
        width: 33.3333%;
        flex: none;
    }

    .u-large-2of3 {
        width: 66.6667%;
        flex: none;
    }

    .u-large-1of4 {
        width: 25%;
        flex: none;
    }

    .u-large-3of4 {
        width: 75%;
        flex: none;
    }

    .u-large-1of5 {
        width: 20%;
        flex: none;
    }

    .u-large-1of6 {
        width: 16.6667%;
        flex: none;
    }

    .u-large-5of12 {
        width: 41.6666667%;
        flex: none;
    }
}
