.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--gutters {
        margin-top: -var(--gutter-tiny);
        margin-left: -var(--gutter-tiny);
    }

}

.grid-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:nth-of-type(odd) {
        .grid-cell {
            &:nth-child(2n+1) {
                background-color: transparent;
            }

            &:nth-child(2n+2) {
                background-color: var(--brand-lt-gray);
            }

            @media (--phablet) {
                &:nth-child(2n+3) {
                    background-color: var(--brand-lt-gray);
                }

                &:nth-child(2n+4) {
                    background-color: transparent;
                }
            }

            @media (--tablet) {
                &:nth-child(2n+3) {
                    background-color: transparent;
                }

                &:nth-child(2n+4) {
                    background-color: var(--brand-lt-gray);
                }
            }
        }
    }

    &:nth-of-type(even) {
        .grid-cell {
            &:nth-child(2n+1) {
                background-color: transparent;
            }

            &:nth-child(2n+2) {
                background-color: var(--brand-lt-gray);
            }

            @media (--phablet) {
                &:nth-child(2n+3) {
                    background-color: var(--brand-lt-gray);
                }

                &:nth-child(2n+4) {
                    background-color: transparent;
                }
            }

            @media (--tablet) {
                &:nth-child(2n+1) {
                    background-color: var(--brand-lt-gray);
                }

                &:nth-child(2n+2) {
                    background-color: transparent;
                }
            }
        }
    }
}

.grid-cell {
    flex: 1;
    position: relative;

    &--gutters {
        padding: var(--gutter-tiny) 0 0 var(--gutter-tiny);
    }

    &--flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.grid--flex-cells > .grid-cell {
    display: flex;
}
