.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &--favorite {
        background-image: svg-load('ico_favorite.svg', fill: var(--brand-red));
    }
}
