/*
|------------------------------------------------------------
| Variables
|------------------------------------------------------------
*/


// Typography
// --------------------------------------------------

$base-font: open_sansregular, Arial, Helvetica, sans-serif;
$header-heading-font: "chalkdusterregular";
$base-font-size: 16px;


// Colors
// --------------------------------------------------

$main-color: #1f2433;
$light-color: #fff;
$dark-color: #425a6d;
$gray-color: #c4c4c4;
$light-gray-color: #d0d6d7;
$dark-bg: #3c3e40;
$green-color: #52b700;
$blue-color: #01bffe;
$yellow-color: #e7c810;
$pink-color: #f64989;
$base-border: 1px solid #252728;


// Media Queries
// --------------------------------------------------

$screen-small: "max-width: 640px";
$screen-medium: "min-width: 641px";
$screen-large: "min-width: 1025px";
$screen-xlarge: "min-width: 1441px";