/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/


*, *:before, *:after {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: black(0);
}

body, html {
    color: $light-color;
    font-size: rem-calc(16);
    font: $base-font-size $base-font;
}


a {
    font-weight: 700;
    color: $blue-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}