/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/


*, *:before, *:after {
    @include box-sizing(border-box);
    @include font-smoothing;
}

* {
    @include selection(#fff, #f64989);
}

body, html {
    color: $light-color;
    font-size: rem-calc(16);
    font: $base-font-size $base-font;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}


a {
    font-weight: 700;
    color: $blue-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    font-family: $base-strong-font;
}