// Base
//------------------------------------------------------------
//


*, *:before, *:after {
    box-sizing: border-box !important;
    @include font-smoothing;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

* {
    @include selection-colors(#fff, #f64989);
}

body, html {
    color: $light-color;
    font-size: rem-calc(16);
    font: $base-font-size $base-font-regular;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

a {
    font-weight: 700;
    color: $blue-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

b, strong {
    font-family: $base-font-strong;
}


