/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.show { display: block; }

.hide { display: none; }

.visible { visibility: visible; }

.hidden { visibility: hidden; }

%margin { margin: 1rem; }

%padding { padding: 1rem; }

%float-l { float: left; }

%float-r { float: right; }

%align-left { text-align: left; }

%align-center { text-align: center; }

%align-right { text-align: right; }

%uppercase { text-transform: uppercase; }

%reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sr {
    width: 1px;
    height: 1px;
    top: -1000em;
    overflow: hidden;
    position: absolute;
}

%hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
}

%cursor-default { cursor: default; }

%cursor-pointer { cursor: pointer; }

%v-align {
    display: inline-block;
    vertical-align: middle;
}



