/*
|------------------------------------------------------------
| Layout
|------------------------------------------------------------
*/


%inner-content {
    position: relative;
    padding: rem-calc(0 5);
    @extend %clearfix;

    @include responsive($screen-medium) {
        width: 80%;
        margin: 0 auto;
        padding: rem-calc(0 15);
    }

    @include responsive($screen-large) {
        width: 1024px;
    }
}


.header {
    text-align: center;
    background: $dark-color;

    h1, p {
        color: $yellow-color;
        font: $base-font-size $header-heading-font;
        @include transform(rotate(-8deg));
        text-shadow: 0 2px 1px rgba(#000, .4);

        @include responsive($screen-medium) {
            text-shadow: 0 3px 1px rgba(#000, .5);
        }
    }

    h1 {
        margin: rem-calc(60 0 0);
        font-size: rem-calc(22);

        @include responsive($screen-medium) {
            font-size: rem-calc(46);
        }

        @include responsive($screen-large) {
            font-size: rem-calc(56);
        }

        & span {
            top: rem-calc(20);
            position: relative;

            @include responsive($screen-medium) {
                top: rem-calc(32);
            }
        }
    }

    p {
        position: relative;
        font-size: rem-calc(15);

        @include responsive($screen-medium) {
            font-size: rem-calc(17);
        }

        @include responsive($screen-large) {
            top: rem-calc(-35);
            left: rem-calc(50);
            font-size: rem-calc(21);
        }
    }
}


.main {
    text-align: center;
    background: $dark-color;

    .text {
        font-size: rem-calc(13);
        @extend %v-align;

        @include responsive($screen-medium) {
            font-size: rem-calc(16);
        }
    }
}

.header-inner,
.main-inner,
.content-inner,
.footer-inner {
    @extend %inner-content;
}


.content {
    margin: rem-calc(50 0 0);
    padding: rem-calc(25);
    background: $light-color;
}


.footer {
    margin: rem-calc(50 0);
    text-align: center;

    ul {
        color: $dark-color;
        font-size: rem-calc(12);
        @extend %reset-list;

        li {
            margin: rem-calc(5 0);
        }

        a {
            margin: rem-calc(0 2);
        }

        span {
            color: $pink-color;
            font-size: rem-calc(18);
        }
    }
}

