// Typography
//------------------------------------------------------------
//


// WebFonts
// --------------------------------------------------

@font-face {
    font-family: 'open_sansregular';
    src: url('../../assets/fonts/opensans-regular-webfont.eot');
    src: url('../../assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../../assets/fonts/opensans-bold-webfont.eot');
    src: url('../../assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../../assets/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalkdusterregular';
    src: url('../fonts/chalkduster-webfont.eot');
    src: url('../fonts/chalkduster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chalkduster-webfont.woff') format('woff'),
         url('../fonts/chalkduster-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CustomFont';
    src:url('../fonts/CustomFont.eot?-h95p23');
    src:url('../fonts/CustomFont.eot?#iefix-h95p23') format('embedded-opentype'),
        url('../fonts/CustomFont.woff?-h95p23') format('woff'),
        url('../fonts/CustomFont.ttf?-h95p23') format('truetype'),
        url('../fonts/CustomFont.svg?-h95p23#CustomFont') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6, p, strong, small, {
    cursor: default;
}

h1, h2, h3 {
    color: $light-gray-color;
}

h1 {
    font-size: rem-calc(28);

    @include screen($medium) {
        font-size: rem-calc(44);
    }

    @include screen($large) {
        font-size: rem-calc(54);
    }
}

h2 {
    font-size: rem-calc(26);

    @include screen($medium) {
        font-size: rem-calc(38);
    }

    @include screen($large) {
        font-size: rem-calc(48);
    }
}

h3 {
    font-size: rem-calc(24);

    @include screen($medium) {
        font-size: rem-calc(34);
    }

    @include screen($large) {
        font-size: rem-calc(44);
    }
}


// Paragraph
// --------------------------------------------------

p {
    font: $base-font-size $base-font-regular;
    color: $dark-color;
    line-height: 1.8;

    @include screen($medium) {
        font-size: rem-calc(18);
    }
}

